<footer class="footer">
  <div class="container-fluid">
    <div class="footer__inner">
      <div class="footer__list">
        <div class="footer__item">
          <h6 class="footer__item-text">© 2009-2023</h6>
          <a class="footer__item-link" href="#!">
            <h6 class="footer__item-text">«Работа в Колпино»</h6>
          </a>
        </div>
        <div class="footer__item">
          <h6 class="footer__item-text">Рекламный отдел</h6>
          <div class="footer__item-list">
            <a class="footer__item-link" href="tel:244-88-22">
              <img class="footer__item-icon" src="images/icon-tel.svg" alt="tel"></img>
              <h6 class="footer__item-text">244-88-22</h6>
            </a>
            <a class="footer__item-link" href="tel:944-34-40">
              <img class="footer__item-icon" src="images/icon-tel.svg" alt="tel"></img>
              <h6 class="footer__item-text">944-34-40</h6>
            </a>
          </div>
        </div>
        <div class="footer__item">
          <a class="footer__item-link" href="mailto:rabota@kolpino.ru">
            <img class="footer__item-icon footer__item-icon--mail" src="images/icon-mail.svg" alt="email"></img>
            <h6 class="footer__item-text">rabota@kolpino.ru</h6>
          </a>
        </div>
        <div class="footer__item">
          <img class="footer__item-img" src="images/cards.png" alt="cards"></img>
        </div>
      </div>
      <div class="footer__menu">
        <ul class="footer__menu-list">
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#!">
              <h6 class="footer__menu-text">Правила публикации</h6>
            </a>
          </li>
          <span class="footer__menu-line"></span>
          <li class="footer__menu-item">

            <a class="footer__menu-link" href="#!">
              <h6 class="footer__menu-text">Услуги и реклама</h6>
            </a>
          </li>
          <span class="footer__menu-line"></span>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#!">
              <h6 class="footer__menu-text">Контакты</h6>
            </a>
          </li>
          <span class="footer__menu-line"></span>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#!">
              <h6 class="footer__menu-text">Пользовательское соглашение</h6>
            </a>
          </li>
          <span class="footer__menu-line"></span>
          <li class="footer__menu-item">
            <a class="footer__menu-link" href="#!">
              <h6 class="footer__menu-text">Политика обработки персональных данных</h6>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
</div>
<script src="js/main.js"></script>
</body>

</html>