<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Колпино</title>

  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="wrapper">
    <header class="header" style="background-image: url(images/bg.png);">
      <div class="container-fluid">

        <div class="topbar">
          <div class="container">
            <div class="topbar__inner">
              <div class="topbar__item">
                <a class="topbar__link" href="#!">
                  <h5>Помощь</h5>
                </a>
              </div>
              <div class="topbar__item">
                <a class="topbar__link" href="#!">
                  <h5>Ваш регион проживания?</h5>
                </a>
                <a class="topbar__user" href="#!">
                  <img class="topbar__user-img" src="images/user.svg" alt="user">
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="header__inner">
            <div class="header__head">
              <a class="logo" href="#!">
                <img class="logo__img" src="images/logo.svg" alt="logo">
              </a>
              <h1 class="header__title">Работа в Колпино</h1>
            </div>
            <div class="header__body">
              <div class="header__search">
                <form class="header__search-form show" id="search-vacancy" action="#">
                  <input class="header__search-input" type="search" placeholder="Поиск вакансии"
                    tabindex="1">
                  <input class="header__search-btn" type="submit" value="Найти работу" tabindex="2">
                  <button class="header__search-setting" type="button" tabindex="3">
                    <img class="header__search-img" src="images/setting-white.svg" alt="setting">
                  </button>
                </form>
                <form class="header__search-form" id="search-summary" action="#">
                  <input class="header__search-input" type="search" placeholder="Поиск резюме"
                    tabindex="1">
                  <input class="header__search-btn" type="submit" value="Найти работу" tabindex="2">
                  <button class="header__search-setting" type="button" tabindex="3">
                    <img class="header__search-img" src="images/setting-white.svg" alt="setting">
                  </button>
                </form>
                <div class="header__tab">
                  <button class="header__tab-item" id="btn-vacancy" tabindex="4">Поиск вакансий</button>
                  <button class="header__tab-item" id="btn-summary" tabindex="5">Поиск резюме</button>
                </div>
              </div>
              <div class="header__stat">
                <div class="header__stat-item">
                  <img class="header__stat-img" src="images/vacancy.svg" alt="vacancy">
                  <h2 class="header__stat-text">736 вакансий</h2>
                </div>
                <div class="header__stat-item">
                  <img class="header__stat-img" src="images/resume.svg" alt="vacancy">
                  <h2 class="header__stat-text">1978 резюме</h2>
                </div>
              </div>
              <div class="header__geo">
                <a id="geoBtn" class="header__geo-btn" href="#!">
                  <img class="header__geo-img" src="images/geo-white.svg" alt="geo">
                </a>
                <ul class="header__geo-list">
                  <li class="header__geo-item">
                    <a class="header__geo-link" href="#!">Металлострой</a>
                  </li>
                  <li class="header__geo-item">
                    <a class="header__geo-link" href="#!">Понтонный</a>
                  </li>
                  <li class="header__geo-item">
                    <a class="header__geo-link" href="#!">Сапёрный</a>
                  </li>
                  <li class="header__geo-item">
                    <a class="header__geo-link" href="#!">Славянка</a>
                  </li>
                  <li class="header__geo-item">
                    <a class="header__geo-link" href="#!">Тельмана</a>
                  </li>
                  <li class="header__geo-item">
                    <a class="header__geo-link" href="#!">Усть-Ижора</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </header>

    <div class="navigation">
      <div class="container">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="#!">
              <h3>Последние вакансии</h3>
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#!">
              <h3>Последние резюме</h3>
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#!">
              <h3>Компании</h3>
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#!">
              <img class="navigation__img" src="images/guess.svg" alt="guess">
            </a>
          </li>
        </ul>
      </div>
    </div>